[submodule "sub-module-two"]
	path = sub-module-two
	url = https://github.com/thanshaw02/receipt-api-kotlin
	branch = master
[submodule "sub-module-one"]
	path = sub-module-one
	url = https://github.com/thanshaw02/receipt-api-rust
	branch = master
